db
greybox_tmp
incremental_db
output_files
simulation
hc_output
scaler
hps_isw_handoff
vip
*_sim
.qsys_edit
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*.xml
*_netlist
*.cdf
**/.DS_Store
verilator/x64/Release
verilator/obj_dir
verilator/obj_dir_headless
verilator/obj_dir_interactive
verilator/obj_dir_fast
__pycache__/
*.pyc
references/manuals/*.pdf
references/chips/
references/chip-src/build/
references/emulators/
verilator/.vs/sim/v17/Browse.VC.db
verilator/obj_dir_single/
verilator/obj_dir_single_fast/
verilator/obj_dir_turbo/
verilator/obj_dir_turbo_single/
verilator/obj_dir_turbo_fast/
verilator/obj_dir_turbo_video/
verilator/obj_dir_turbo_video_fast/
verilator/obj_dir_turbo_video_savable/
verilator/obj_dir_v06_*/
verilator/obj_dir_v08_*/
verilator/obj_dir_v09_*/
verilator/obj_dir_v10_*/
verilator/obj_dir_v11_*/
verilator/obj_dir_v12_*/
verilator/obj_dir_turbo_dma/
verilator/obj_dir_qualification_fast/
software/
references/software/private-downloads/
